
body {
background-color: #fff;
}

.error {
    font-size:20px;
    padding-top: 20px;
    padding-left: 30px;
}

.title {
    font-size: 60px;
    
}

.content {
    font-size: 20px;
    
}

button {
    width: 200px;
    height: 60px;
    background-color: rgb(29, 26, 26);
    color: white;
    border: none;
    
}

img {
    width: 100%;
}

.container {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}